In [56]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder
import numpy as np
pd.options.display.max_rows = 4000

In [57]:
df=pd.read_csv('Clean1.csv')

In [58]:
df.describe()

,Name_encoding,Location_encoding,Year,year_encoding,Kilometers_Driven,Fuel_codes,Transmission_codes,owner_encoding,Mileage,Engine,Seats,Price
count,6019.000000,6019.000000,6019.000000,6019.000000,6.019000e+03,6019.000000,6019.000000,6019.000000,6019.000000,6019.000000,6019.000000,6019.000000
mean,915.975577,5.619704,2013.358199,15.358199,5.873838e+04,2.363017,0.714238,0.379465,18.128935,1611.579498,5.241901,9.479468
std,529.812042,2.955933,3.269742,3.269742,9.126884e+04,1.504939,0.451814,0.818458,4.593436,612.449869,0.918025,11.187917
min,0.000000,0.000000,1998.000000,0.000000,1.710000e+02,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.440000
25%,472.000000,3.000000,2011.000000,13.000000,3.400000e+04,1.000000,0.000000,0.000000,15.160000,1197.000000,5.000000,3.500000
50%,924.000000,6.000000,2014.000000,16.000000,5.300000e+04,1.000000,1.000000,0.000000,18.150000,1493.000000,5.000000,5.640000
75%,1314.000000,8.000000,2016.000000,18.000000,7.300000e+04,4.000000,1.000000,0.000000,21.100000,1969.000000,5.000000,9.950000
max,1875.000000,10.000000,2019.000000,21.000000,6.500000e+06,4.000000,1.000000,3.000000,33.540000,5998.000000,10.000000,160.000000

In [59]:
df.head(2)

,Name,Name_encoding,Location,Location_encoding,Year,year_encoding,Kilometers_Driven,Fuel_codes,Fuel_Type,Transmission,Transmission_codes,Owner_Type,owner_encoding,Mileage,Engine,Power,Seats,New_Price,Price
0,Maruti Wagon R LXI CNG,1200,Mumbai,9,2010,12,72000,0,CNG,Manual,1,First,0,26.60,998,58.16,5,NaN,1.75
1,Hyundai Creta 1.6 CRDi SX Option,512,Pune,10,2015,17,41000,1,Diesel,Manual,1,First,0,19.67,1582,126.2,5,NaN,12.50

# year encoding

In [60]:
#df['Year'].unique()

In [61]:
#df2=labelencoder.fit_transform(df['Year'])

In [62]:
#df.insert(5,"year_encoding",df2,True)

In [63]:
#df['Mileage']=df['Mileage'].astype(int)

In [64]:
#df['Mileage'].unique()

In [65]:
#'null ' in df['Power']

In [66]:
#df['Power'].astype(float)

# Transmission encoding

In [67]:
#df2=labelencoder.fit_transform(df['Transmission'])

In [68]:
#df.insert(11,"Transmission_codes",df2,True)

In [69]:
#df.drop(columns=['Unnamed: 0','Unnamed: 0.1'],inplace=True)

# carname encoding

In [70]:
#df['Name'].shape

In [71]:
#df2=labelencoder.fit_transform(df['Name'])

In [72]:
#df2.shape

In [73]:
#df.insert(2,"Name_encoding",df2,True)
#clean=pd.read_csv('Clean.csv')
#df.to_csv('Clean.csv')
#clean.head(5)

In [74]:
#clean.head(2)
#df['Power']=clean['Power']
#clean['Seats'].unique()

# Location Encoding

In [75]:
#df2=df["Location"]

In [76]:
#df2=labelencoder.fit_transform(df['Location'])

In [77]:
#df.insert(4,"Location_encoding",df2,True)

# Owner_Type_encoding

In [78]:
#df['Owner_Type'].unique()

In [79]:
#df2=labelencoder.fit_transform(df['Owner_Type'])

In [80]:
#df2

In [81]:
#df.insert(11,"owner_encoding",df2,True)

In [82]:
#manual =0 and automatc=1

In [83]:
#df3=df['Fuel_Type']

In [84]:
#df['Fuel_Type'].unique()

In [85]:
#labelencoder=LabelEncoder()

In [86]:
#df['Fuel_Type'].count().sum()

In [87]:
#df2=labelencoder.fit_transform(df['Fuel_Type'])

In [88]:
#df2=np.array(df2)
#df2.shape

In [89]:
#df.insert(5,"Fuel_codes",df2,True)
df['owner_encoding']=df['owner_encoding'].astype(float)

In [90]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6019 entries, 0 to 6018
Data columns (total 19 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Name                6019 non-null   object
 1   Name_encoding       6019 non-null   int64
 2   Location            6019 non-null   object
 3   Location_encoding   6019 non-null   int64
 4   Year                6019 non-null   int64
 5   year_encoding       6019 non-null   int64
 6   Kilometers_Driven   6019 non-null   int64
 7   Fuel_codes          6019 non-null   int64
 8   Fuel_Type           6019 non-null   object
 9   Transmission        6019 non-null   object
 10  Transmission_codes  6019 non-null   int64
 11  Owner_Type          6019 non-null   object
 12  owner_encoding      6019 non-null   float64
 13  Mileage             6019 non-null   float64
 14  Engine              6019 non-null   int64
 15  Power               6019 non-null   object
 16  Seats               6019 non-null   int64
 17  New_Price           824 non-null    object
 18  Price               6019 non-null   float64
dtypes: float64(3), int64(9), object(7)
memory usage: 893.6+ KB

# model building

In [91]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [92]:
inde=['Name_encoding','Location_encoding','year_encoding','Kilometers_Driven','Fuel_codes','Transmission_codes','owner_encoding','Mileage','Engine','Seats']
x=df[inde]
y=df['Price']

In [93]:
x.shape

(6019, 10)

In [94]:
y.shape

(6019,)

In [95]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.1,random_state=1)

In [96]:
reg=LinearRegression()
reg.fit(x_train,y_train)

LinearRegression()

In [97]:
y_pred=reg.predict(x_test)

# accuracy check

In [98]:
from sklearn.metrics import r2_score

In [99]:
score=r2_score(y_test,y_pred)

In [100]:
score

0.10009263059980456

In [101]:
x.head(90)

,Name_encoding,Location_encoding,year_encoding,Kilometers_Driven,Fuel_codes,Transmission_codes,owner_encoding,Mileage,Engine,Seats
0,1200,9,12,72000,0,1,0.0,26.60,998,5
1,512,10,17,41000,1,1,0.0,19.67,1582,5
2,486,2,13,46000,4,1,0.0,18.20,1199,5
3,1059,2,14,87000,1,1,0.0,20.77,1248,7
4,23,3,15,40670,1,0,2.0,15.20,1968,5
5,530,5,14,75000,3,1,0.0,21.10,814,5
6,1378,6,15,86999,1,1,0.0,23.08,1461,5
7,1778,9,18,36000,1,0,0.0,11.36,2755,8
8,1847,10,15,64430,1,1,0.0,20.54,1598,5
9,1582,2,14,65932,1,1,2.0,22.30,1248,5
10,1038,7,20,25692,4,1,0.0,21.56,1462,5
11,422,8,14,60000,4,0,0.0,16.80,1497,5
12,1160,6,17,64424,1,1,0.0,25.20,1248,5
13,813,4,16,72000,1,0,0.0,12.70,2179,5
14,810,10,14,85000,1,0,2.0,0.00,2179,5
15,1369,4,16,110000,1,1,0.0,13.50,2477,7
16,367,7,18,58950,1,1,0.0,25.80,1498,5
17,1124,6,19,25000,1,1,0.0,28.40,1248,5
18,1445,7,16,77469,1,1,0.0,20.45,1461,5
19,1319,1,16,78500,1,0,0.0,14.84,2143,5
20,74,7,16,32982,1,0,0.0,22.69,1995,5
21,1099,1,17,55392,1,1,2.0,23.65,1248,5
22,33,9,17,55985,4,0,0.0,13.53,1984,5
23,714,8,12,45807,4,1,0.0,18.50,1197,5
24,1856,8,12,33000,4,0,0.0,14.40,1598,5
25,426,9,14,51920,4,1,0.0,16.80,1497,5
26,1378,5,14,54000,1,1,0.0,23.08,1461,5
27,960,5,15,54000,4,1,2.0,20.92,998,5
28,499,7,20,37430,4,1,0.0,17.50,1199,5
29,1759,9,9,262000,1,1,1.0,12.80,2494,7
30,1437,1,15,62000,1,1,0.0,19.01,1461,5
31,1692,4,14,87615,4,1,0.0,14.53,1798,5
32,901,1,15,72000,1,0,2.0,11.18,2696,7
33,25,8,12,35000,1,0,0.0,12.40,2698,5
34,1844,3,16,55431,4,1,2.0,16.09,1598,5
35,1199,6,11,83816,4,1,2.0,14.00,1061,5
36,1183,7,20,50075,1,1,0.0,24.30,1248,5
37,849,4,19,52000,4,1,0.0,18.15,1198,5
38,1300,10,15,85000,1,0,0.0,11.74,2987,5
39,1825,2,15,62000,1,1,0.0,22.07,1199,5
40,970,4,10,90000,4,1,2.0,19.70,796,5
41,1619,7,16,19698,4,1,0.0,25.40,624,4
42,847,3,19,22033,1,1,0.0,25.32,1198,6
43,762,7,16,35487,4,1,0.0,18.50,1197,5
44,536,1,16,46374,4,0,0.0,14.62,1999,5
45,1693,9,18,52001,4,0,0.0,14.28,1798,5
46,537,0,10,58005,1,1,2.0,14.90,1991,5
47,1776,1,14,70704,4,1,0.0,11.25,2694,7
48,668,6,16,75000,1,1,0.0,24.40,1120,5
49,908,6,14,75800,1,1,2.0,16.55,2498,6
50,8,7,17,13648,1,0,0.0,17.11,1968,5
51,1147,4,16,52000,1,1,0.0,22.90,1248,5
52,1156,8,16,53000,1,1,0.0,17.80,1248,5
53,1159,4,15,65650,1,1,0.0,28.40,1248,5
54,577,2,17,54000,4,1,3.0,18.90,1197,5
55,1845,8,17,39000,4,1,0.0,15.04,1598,5
56,1459,7,19,16542,4,1,0.0,25.17,799,5
57,687,8,12,32000,4,1,0.0,20.36,1197,5
58,1413,5,12,121812,1,0,0.0,13.29,1995,5
59,1226,5,12,39300,4,1,0.0,18.20,998,5
60,1772,9,19,22000,1,1,0.0,13.68,2393,8
61,329,1,12,72000,1,1,0.0,20.00,1399,5
62,1314,4,17,58000,4,0,0.0,11.74,1796,5
63,1302,10,13,65000,1,1,2.0,15.80,2148,5
64,1577,2,18,178000,1,1,0.0,25.00,1396,5
65,11,6,14,65664,1,0,0.0,16.55,1968,5
66,431,9,9,63000,4,0,2.0,16.40,1497,5
67,1241,3,21,15369,1,0,0.0,0.00,1950,5
68,1057,10,18,63000,1,1,0.0,24.52,1248,7
69,509,9,20,13000,1,1,0.0,22.10,1396,5
70,1417,9,10,73000,4,0,0.0,8.50,4806,5
71,925,9,17,55729,1,1,0.0,15.10,2179,7
72,707,7,14,45178,4,0,0.0,16.95,1197,5
73,1410,7,17,56066,1,1,0.0,19.64,1461,5
74,396,3,18,37300,4,0,2.0,16.50,1198,5
75,24,4,16,56000,1,0,2.0,18.53,1968,5
76,284,6,10,111111,1,1,0.0,17.80,1399,5
77,1742,2,8,230000,4,1,3.0,12.40,1998,8
78,1765,5,14,104000,1,1,0.0,12.80,2494,7
79,601,5,7,87591,4,1,0.0,0.00,1086,5
80,1159,6,14,95100,1,1,0.0,22.90,1248,5
81,1666,10,19,70000,4,1,0.0,17.57,1193,5
82,371,7,18,54944,4,1,0.0,18.00,1198,5
83,330,5,14,70337,1,1,0.0,20.00,1399,5
84,1092,6,15,99638,1,1,0.0,23.20,1248,5
85,447,4,11,52000,4,1,0.0,17.80,1497,5
86,97,4,13,75000,1,0,2.0,16.73,1995,5
87,706,10,11,95980,4,1,0.0,20.36,1197,5
88,577,1,18,16000,4,1,0.0,18.90,1197,5
89,605,5,9,73745,4,1,0.0,17.00,1086,5

In [102]:
print(y[75])

29.5

In [103]:
v=[[24,4,16,56000,1,0,2,18.53,1968,5]]  #512,2015,41000,1,1,19.67,1582.0,5.0   1847,10,2013,64430,1,1,0,20.54,1598.0,5.0

In [104]:
print(reg.predict(v))

[20.1936789]

/home/shivanshu/.local/lib/python3.8/site-packages/sklearn/base.py:441: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(